@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: cairo;
    
}

.rodape {
    background: #292c2f;

}

.footer-links a{
    color: white;
    text-decoration: none;
    margin: 30px;
}


.coryright {
    color: grey;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

.container {
    padding: 30px;
}