.title{
    margin-top: 2vh;
    margin-left: 30px;
    margin-bottom: 3vh;
    font-size: 25px;
}

.content {
    font-size: 17px;
    text-decoration: none;
    background: #FFE4C4;
    padding: 2vh;
}

.sqr-img{
    width: 450px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.5s;
}

.sqr-img:hover {
    transform: scale(1.1);
    cursor: pointer;
    
}


.container{
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    padding: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.container-text{
    max-width: 100%;
    width: 100%;
    margin-left: 13px;
}

.nomeBilhete {
    text-align: center;
    margin-bottom: 1vh;
    margin-left: 5vh;
    font-size: 23px;
}

.texto{
    text-align: justify;
    max-width: 100%;
    font-size: 17px;
    line-height: 2;
}

.valor {
    text-align: center;
    font-size: 3vh;
    margin-bottom: 0.8vh;
    margin-top: 0.5vh;
}

.explicaValor {
    text-align: center;
    margin-bottom: 15px;
    color: grey;
}

.col-4{
    max-width: 100%;
    width: 20%;
    margin: 45px;
}

.col-2{
    max-width: 100%;
    width: 50%;
}

.imgSeuBilhete {
    width: 650px;
    margin-bottom: 30px;
    margin-left: 500px;
    border-radius: 10px;
    transition: 0.5s;
}

.consultar {
    width: 450px;
    padding: 10px;
    background-color: #EDDBD5;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    margin-top: 140px;
    margin-bottom: 50px;
    transition: 0.5s;
    margin-left: 300px;
    margin-right: 30px;
}

.consultar:hover {
    transform: scale(1.1);
    cursor: pointer;
    
}

.slc-ticket{
    margin-left: 30px;
}

.title-2{
    margin-top: 40px;
    margin-left: 600px;
    font-size: 30px;
}

.d-flex{
    display: flex;
}

.seuID {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 25px;
    display: inline-block;
    background-color: rgb(243, 246, 183);
    border-radius: 15px;
    padding: 10px ;
}

.fraseID{
    margin-top: 20px;
    font-size: 25px;
    display: inline-block;
}