.title{
    margin-top: 2vh;
    margin-left: 30px;
    margin-bottom: 3vh;
}
.sqr-img{
    width: 450px;
    margin-bottom: 30px;
}

.container{
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    padding: 30px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.container-text{
    max-width: 100%;
    width: 100%;
    margin-left: 13px;
}

.texto{
    text-align: justify;
    max-width: 100%;
}

.col-4{
    max-width: 100%;
    width: 20%;
    margin: 45px;
}

.col-2{
    max-width: 100%;
    width: 50%;
}

button{
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    background-color: #292c2f;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 90vh;
}

.slc-ticket{
    margin-left: 30px;
}

.title-2{
    margin-bottom: 30px;
}

.d-flex{
    display: flex;
}