.title {
    margin: 5vh;
    font-size: 25px;
}

.imgInicio {
    width: 20%;
    margin-left: 5%;
}

.content {

    font-size: 20px;
    width: 50%;
    float: right;
    margin-top: 60px;
    padding-right: 10%;
}

.imgRecarga, .content {
    display: inline-block;
    
}

.solicitaId {
    margin: 20px;
    text-indent: 17px;
    margin-left: 45%;
    
}

.input-id {
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
    border-color: #71817f;
    width: 20%;
    font-size: 17px;
}

.solicitaId label, .solicitaId legend {
    display: block;
    padding: 12px;
    font-size: 17px;
    
}

.consultar {
    width: 25%;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    margin-right: 80px;
    border-radius: 15px;
    background-color: #EDDBD5;
    border: none;
    transition: 1s all;
    margin-left: 40%;
}

.consultar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

h3 {
    margin: 20px;
}

table {
    margin: 20px;
    display: inline-block;
}

.tableGeracao tr {
    padding: 10px;
   
}

.tableGeracao td {
    padding: 15px;
    background-color: #DBE9F4;
}

.tableUso tr {
    padding: 10px;
}

.tableUso td {
    padding: 15px;
    background-color: #DBE9F4;
}

