@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: cairo;
}

.menu{
    display: none;
}

header{
    max-width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    background-color: #292c2f;
}

.logo{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.nav-item{
    list-style-type: none;
    text-align: center;
}

.navbar .list-nav{
    display: flex;
    align-items: center;
}

.navbar .list-nav .nav-item .item-text{
    display: block;
    color: white;
    font-size: 15px;
    padding: 8px 20px;
    transition: .2s;
    margin: 0 5px;
    border-radius: 50px;
}

.navbar .list-nav .nav-item .item-text:hover{
    font-size: 17px;
    color: #b1dbd6;
}
@media only screen and (max-width: 1400px){
    header{
        padding: 0 45px;
    }
}

@media only screen and (max-width: 1200px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1000px){
    .menu{
        display: block;
        cursor: pointer;
    }

    .menu .linha{
        width: 30px;
        height: 2px;
        background: white;
        margin: 5px 0;
    }

    .navbar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #292c2f;
        transition: .3s;
    }

    .navbar .list-nav{
        display: block;
        margin: 80px auto 0 auto;
        width: fit-content;
        transition: .3s;
        text-align: left;
    }

    .navbar .list-nav .nav-item .item-text{
        margin-bottom: 10px;
    }

    .navbar .active{
        height: 450px;
    }
}