.title {
    margin: 5vh;
    font-size: 25px;
    display: inline-block;
}

.content {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    width: 50%;
    text-align: justify;    

}

.imgRecarga {
    width: 25%;
    margin-top: 70px;
    margin-right: 70px;
    border-radius: 10px;
    float: right;
}

.imgRecarga, .content {
    display: inline-block;
    
}

.solicitaId {
    margin: 50px;
    margin-right: 40%;
    text-indent: 17px;
}

.input-id {
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #71817f;
    width: 15%;
    font-size: 17px;
    
}

.solicitaId label, .solicitaId legend {
    display: block;
    padding: 12px;
    font-size: 17px;
    
}

.confirmar {
    width: 30%;
    font-size: 20px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 400px;
    border-radius: 15px;
    background-color: #EDDBD5;
    border: NONE;
    transition: 1s all;
}

.confirmar:hover {
    transform: scale(1.1);
    cursor: pointer;    
}

.ajuda {
    margin: 5vh;
    
}

.ajuda p {
    margin: 2vh;
}

.imgMostrarId {
    width: 35%;
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-left: 2vh;
    border-radius: 10px;    
}