<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
</head>


<footer class="rodape">
    <div class="container">
        <p class="footer-links">
            <a class="link-1" href="../index.html">Home .</a>

            <a href="../gerarBilhete.html">Novo Bilhete .</a>

            <a href="../recargaBilhete.html">Recarregar .</a>
        </p>

        <p class="coryright">Coryright Ⓒ Bilhete Urbano 2022 -  All Rights Reserved</p>
    </div>
</footer>
</html>