.fraseInicio{
    font-size: 25px;
    margin: 5vh;
}

.contentInicio {
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 20px;
}

/* banner */
@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
    /* daqui: http://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/ */
  }

  @keyframes go{
    0%    {  }
    100%    { left:-300%; }
  }
  @keyframes back{
    0%    { left:0; }
    100%  { left:100%; }
  }
  .carousel{
    width:100%; 
    overflow:hidden; 
    height:100%;
  }
  .paineis{
    width:500%; 
    overflow:hidden;  
    height:100%;  
    animation:carousel 30s infinite; position:relative;
  }
  article{
    float:left; 
    width:20%;
  } 
  img{
    height:100%; 
    width:100%
  }
  
  #container {
    width: 400px;
    height: 400px;
    background-size: cover;
  }

/*outro*/

.botoesRapidos h2 {
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 1vh;
}

.botoes {
    text-align: center;
    
}

.botoes a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 30px;
    margin-bottom: 70px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    transition: 0.5s;
}

.botoes a:hover{
    font-size: 23px;
    color: #71817f;
    border-color: #71817f;
    
}

