body {
    background-color: #FFFAFA;
}

.container-content {
    background-color: #EDDBD5;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;    
    border-radius: 10px;
    padding: 20px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.div-aceita {
    text-align: center;
}
.aceito {
    text-decoration: none;
    color: white;
    background-color: #c29d90;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;

    transition: 1s all;
}

.aceito:hover {
    font-size: 21px;
    cursor: pointer;   

}